.normal {
  text-align: left;
}

.title {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  background: #001529;
  padding: 0px 50px;
  margin: 0;
  line-height: 3em;
}

a {
  text-decoration: none;
  color: white;
}

#logo {
  display: inline-block;
  margin: 10px 0;
  color: white;
}

.logout {
  color: grey;
  margin: 0 100px;
}

.logout:hover{
  color: white;
}

.contentLayout {
  padding: 2em;
}

.contentbg {
  background: #fff;
  padding: 1.5em;
  height: 700px;
  min-height: 500px;
  width: auto;
}