
.normal {
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
  text-align: left;
}

.title {
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 1px;
  background: #001529;
  padding: 0px 50px;
  color: white;
  margin: 0;
  line-height: 3em;
}

a {
  text-decoration: none;
  color: white;
}

.logo{
  display: inline-block;
  color: white;
  margin: 10px 0;
}

.logout {
  color: grey;
  margin: 0 100px;
}

.logout:hover{
  color: white;
}

.contentLayout {
  padding: 2em;
}

.contentbg {
  background: #fff;
  padding: 1.5em;
  height: 500px;
  min-height: 300px;
  width: auto;
}